<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- link for navbar icon -->
     <link rel="icon" href="./Img/scissors-cut-cutlery-cutter-fork-knife-sizer-icon-18-B1.png">

      <!-- link for stylesheet -->
    <link rel="stylesheet" href="/css/book.css">

     <!-- link for fontawesome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

     <!-- link for font -->
    <link href="https://fonts.googleapis.com/css?family=Stoke|Titillium+Web&display=swap" rel="stylesheet">
    
    <script src="/Js/form.js"></script>

    <!-- for Animation on scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Book | LookBooker</title>
</head>
<body>
     <header>
        <div class="hero">
            <nav data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
                <div class="logo">
                    <img src="/Img/icon.png" alt="sesor">
                </div>
                <div class="nav-item">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!-- <li><a href="#">Booking Status</a></li> -->
                        <li><a href="/logout">Sign Out</a></li>
                        <li><a href="#" id="profile"><img src='/uploadas/<%=user.imgurl %>'></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- appoinment date -->
    <!-- <section class="appoinment" data-aos="flip-up" data-aos-duration="2000" data-aos-delay="1000"> -->
        <!-- <h3>Sea</h3> -->
        <!-- <input type="text" name="search" id="search" placeholder="Search your salon by name"> -->
        <!-- <i class="far fa-calendar-alt fa-3x"></i> -->
    <!-- </section> --> 


    <h3 data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">Please Select Your Salon For Appoinment</h3>
    <hr data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500">
    <section class="box">
        <%for(let i=0;i<saloninfo.length;i++){%>
        <div class="box1" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="1000">
            <div class="box-img">
                <img src='/uploadas/<%=saloninfo[i].imgurl %>' id="pro-img">
            </div>
            <div class="box-content">
                <p><a href='/book/<%=saloninfo[i].username %>'><%=saloninfo[i].username %></a></p>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <p><%=saloninfo[i].address %></p>
                </div>
                <div class="website">
                    <i class="fab fa-google"></i>
                    <p><%= saloninfo[i].website%></p>
                </div>
                <p id="open">Open</p>
                <div class="star">
                    <i class="fas fa-star fa-2x"></i>
                    <i class="fas fa-star fa-2x"></i>
                    <i class="fas fa-star fa-2x"></i>
                    <i class="fas fa-star fa-2x"></i>
                    <i class="fas fa-star fa-2x"></i>
                </div>
            </div>
        </div>
        <%}%>
    </section>
        
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>